<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    @*<link href="/Content/layui/css/layui.css" rel="stylesheet" />
        <link rel="stylesheet" href="/Content/static/css/font.css">
        <link rel="stylesheet" href="/Content/static/css/weadmin.css">
        <script src="/Content/layui/layui.js"></script>
        <script src="~/Content/static/js/admin.js"></script>*@

    <link rel="stylesheet" href="@ViewBag.FileResourcesDomain/Content/static/css/font.css">
    <link rel="stylesheet" href="@ViewBag.FileResourcesDomain/Content/static/css/weadmin.css">
    <script src="@ViewBag.FileResourcesDomain/Content/layui/layui.js"></script>
    <script src="@ViewBag.FileResourcesDomain/Content/static/js/admin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    @RenderSection("styles", required: false)
    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
